.DS_Store
.vscode/
/demos/cadp-crdp-bouncycastle-pr/target
*.class
/demos/crypto-agile-cicd-jenkins/deployment/jenkins/data
*.class
/demos/crypto-agile-cicd-jenkins/deployment/scripts/github-repo
/demos/crypto-agile-cicd-jenkins/deployment/gitlab
/demos/crypto-agile-cicd-jenkins/deployment/registry/data
demos/crypto-agile-cicd-jenkins/deployment/jenkins/kube_config/kubeconfig
demos/crypto-agile-cicd-jenkins/deployment/scripts/kubeconfig
demos/crypto-agile-cicd-jenkins/deployment/scripts/setupMin.ps1
demos/crypto-agile-cicd-jenkins/smart_meter_sim/SmartMeterSimulator.class
